node_modules/
.expo/
dist/
web-build/
*.log
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*

# native
ios/Pods/
ios/build/
android/.gradle/
android/build/
android/app/build/
android/local.properties
android/.idea/
*.iml
